<section id="create-container">
	<a href="/admin/movies" class="btn btn-primary">Quay về <i class="bx bx-left-arrow-circle"></i></a>
	{{#each movies}}

		<form action="/admin/edit_movies" method="POST">
			<div class="form-group">
				<input type="hidden" name="movieId" value="{{this.movie_id}}" />
				<label for="movieName">Tên phim:</label>
				<input type="text" class="form-control" id="movieName" name="movieName" required value="{{this.movie_name}}" />
			</div>
			<div class="form-group">
				<label for="movieDescription">Mô tả phim:</label>
				<textarea class="form-control" id="movieDescription" name="movieDescription" rows="3" required>{{this.movie_description}}

				</textarea>
			</div>
			<div class="form-group">
				<label for="movieTrailer">Link trailer phim:</label>
				<input type="text" class="form-control" id="movieTrailer" name="movieTrailer" value="{{this.movie_trailer}}" />
			</div>
			<div class="form-group">
				<label for="movieCens">Độ tuổi phim:</label>
				<input value="{{this.movie_cens}}" type="text" class="form-control" id="movieCens" name="movieCens" />
			</div>
			<div class="form-group">
				<label for="movieGenres">Thể loại phim:</label>
				<input value="{{this.movie_genres}}" type="text" class="form-control" id="movieGenres" name="movieGenres" required />
			</div>
			<div class="form-group">
				<label for="movieRelease">Ngày phát hành phim:</label>
				<input value="{{this.movie_release}}" type="date" class="form-control" id="movieRelease" name="movieRelease" />
			</div>
			<div class="form-group">
				<label for="movieStatus">Trạng thái phim:</label>
				<select class="form-control" id="movieStatus" name="movieStatus" required>
					<option value="now-showing">Đang chiếu</option>
					<option value="coming-soon">Sắp chiếu</option>
				</select>
			</div>
			<div class="form-group">
				<label for="movieLenght">Thời lượng phim:</label>
				<input value="{{this.movie_lenght}}" type="time-" class="form-control" id="movieLenght" name="movieLenght" />
			</div>
			<div class="form-group">
				<label for="movieFormat">Định dạng phim:</label>
				<input value="{{this.movie_format}}" type="text" class="form-control" id="movieFormat" name="movieFormat" />
			</div>
			<div class="form-group">
				<label for="moviePoster">Link ảnh poster phim:</label>
				<input value="{{this.movie_poster}}" type="text" class="form-control" id="moviePoster" name="moviePoster" />
			</div>
			<div id="movies-edit" class="btn btn-primary mt-2 text-white">Chỉnh sửa</div>
			<button id="movies-edit-confirm" type="submit" class="btn btn-primary mt-2 btn-movie-edit d-none">Xác nhận</button>
		</form>
	{{/each}}
	{{#if success}}
		<div class="alert alert-success">{{success}}</div>
	{{/if}}
	{{#if error}}
		<div class="alert alert-danger">{{error}}</div>
	{{/if}}
</section>