<section id="movies">
	<table id="movies-admin" class="display" data-page-size="10">
		<thead>
			<tr>
				<h3 class="d-inline">Danh sách các phim đang có trong hệ thống</h3>
				<a href="/admin/create_movies" class="btn btn-primary ms-3">Thêm <i class="bx bx-plus-circle"></i></a>
			</tr>
			<tr>
				<th class="d-none">IdMovies</th>
				<th>Tên phim</th>
				<th>Thể loại</th>
				<th>Độ tuổi</th>
				<th>Trạng thái</th>
				<th>Độ dài</th>
				<th>Định dạng</th>
				<th>Thao tác</th>
			</tr>
		</thead>
		<tbody>
			{{#each movies}}
				<tr>
					<td class="d-none"><input class="idMovies" type="hidden" value="/admin/delete_movies?id={{this.movie_id}}" /></td>
					<td>{{this.movie_name}}</td>
					<td>{{this.movie_genres}}</td>
					<td>{{this.movie_cens}}</td>
					<td>{{this.movie_status}}</td>
					<td>{{this.movie_lenght}}</td>
					<td>{{this.movie_format}}</td>
					<td><a href="/admin/edit_movies?id={{this.movie_id}}" class="btn btn-primary mx-1">Chỉnh sửa</a>
						<button class="btn btn-danger btn-movie-delete">
							Xóa
						</button></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	{{#if success}}
		<div class="alert alert-success">{{success}}</div>
	{{/if}}
	{{#if error}}
		<div class="alert alert-danger">{{error}}</div>
	{{/if}}

	<div class="modal fade" id="modal-movie-delete" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Bạn có muốn xóa phim không?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p style="font-size: 14px;">Bạn có chắc chắn muốn chỉnh sửa dữ liệu không?</p>
				</div>
				<div class="modal-footer modal-footer-uniform">
					<button type="button" class="btn btn-md btn-default" data-bs-dismiss="modal">Thoát</button>
					<a onclick="deleteMovies()" href="" type="submit" value="Edit" class="btn btn-md btn-primary float-end btn-delete-confirm">Xóa</a>
				</div>
			</div>
		</div>
	</div>

</section>