
	<!-- main-slider -->
	<section class="w3l-main-slider position-relative" id="home">
		<div class="companies20-content">
			<div class="owl-one owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2">
							<div class="banner-info">
								<h3>Latest Movie Trailers</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
										Consequuntur hic odio
										voluptatem tenetur consequatur.</span></p>
								<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Trailer</h6>
								</a>
								<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/358205676" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info  banner-view banner-top1 bg bg2">
							<div class="banner-info">
								<h3>Latest Online Movies</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
										Consequuntur hic odio
										voluptatem tenetur consequatur.</span></p>
								<a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Trailer</h6>
								</a>
								<div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/395376850" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top2 bg bg2">
							<div class="banner-info">
								<h3>Latest Movie Trailers</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
										Consequuntur hic odio
										voluptatem tenetur consequatur.</span></p>
								<a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Trailer</h6>
								</a>
								<div id="small-dialog3" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/389969665" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top3 bg bg2">
							<div class="banner-info">
								<h3>Latest Online Movies</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
										Consequuntur hic odio
										voluptatem tenetur consequatur.</span></p>
								<a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Trailer</h6>
								</a>
								<div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/323491174" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
		</div>
	</section>
	<!-- main-slider -->
	<!--grids-sec1-->
	<section class="w3l-grids">
		<div class="grids-main py-5">
			<div class="container py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">Now Showing</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" href="/movie/now-showing">Show all</a></h4>
						</div>
					</div>
				</div>
				<div class="w3l-populohny-grids">
					{{#each nowShowingMovies}}
						<div class="item vhny-grid">
							<div class="box16">
								<a href="/movie/{{this.movie_id}}">
									<figure>
										<img class="img-fluid" src="{{this.movie_poster}}" alt="">
									</figure>
									<div class="box-content">
										<h3 class="title">{{this.movie_name}}</h3>
										<h4> <span class="post"><span class="fa fa-clock-o"> </span> {{this.movie_lenght}} </span>
										<span class="post fa fa-heart text-right"></span>
										</h4>
									</div>
									<span class="fa fa-play video-icon" aria-hidden="true"></span>
								</a>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</section>
	<!--//grids-sec1-->
	<!--grids-sec2-->
	<section class="w3l-grids">
		<div class="grids-main py-5">
			<div class="container-wrapper">
				<div class="container py-lg-3">
					<div class="headerhny-title">
						<div class="w3l-title-grids">
							<div class="headerhny-left">
								<h3 class="hny-title">Upcoming</h3>
							</div>
							<div class="headerhny-right text-lg-right">
								<h4><a class="show-title" href="/movie/upcoming">Show all</a></h4>
							</div>
						</div>
					</div>
					<div class="owl-three owl-carousel owl-theme">
					{{#each upcomingMovies}}
						<div class="item vhny-grid d-flex flex-column justify-content-between">
							<div class="box16 mb-0">
								<a href="/movie/{{this.movie_id}}">
									<figure>
										<img class="img-fluid" src="{{this.movie_poster}}" alt="">
									</figure>
									<div class="box-content">
										<h4> <span class="post"><span class="fa fa-clock-o"> </span> {{this.movie_lenght}} </span>
										<span class="post fa fa-heart text-right"></span>
										</h4>
									</div>
									<span class="fa fa-play video-icon" aria-hidden="true"></span>
								</a>
							</div>
							<h3> <a class="title-gd" href="/movie/{{this.movie_id}}">{{this.movie_name}}</a></h3>
						</div>
					{{/each}}
					</div>
				</div>
			</div>
			

		</div>
	</section>
	<!--grids-sec2-->
	<!--mid-slider -->
	<section class="w3l-mid-slider position-relative">
		<div class="companies20-content">
			<div class="owl-mid owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info mid-view bg bg2">
							<div class="container">
								<div class="mid-info">
									<span class="sub-text">Comedy</span>
									<h3>Jumanji: The Next Level</h3>
									<p>2019 ‧ Comedy/Action ‧ 2h 3m</p>
									<a class="watch" href="/movie"><span class="fa fa-play"
											aria-hidden="true"></span>
										Watch Trailer</a>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info mid-view mid-top1 bg bg2">
							<div class="container">
								<div class="mid-info">
									<span class="sub-text">Adventure</span>
									<h3>Dolittle</h3>
									<p>2020 ‧ Family/Adventure ‧ 1h 41m</p>
									<a class="watch" href="/movie"><span class="fa fa-play"
											aria-hidden="true"></span>
										Watch Trailer</a>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info mid-view mid-top2 bg bg2">
							<div class="container">
								<div class="mid-info">
									<span class="sub-text">Action</span>
									<h3>Bad Boys for Life</h3>
									<p>2020 ‧ Comedy/Action ‧ 2h 4m</p>
									<a class="watch" href="/movie"><span class="fa fa-play"
											aria-hidden="true"></span>
										Watch Trailer</a>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
		</div>
	</section>


