<html lang="zxx">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>Home</title>
		<link rel="stylesheet" href="/css/style-starter.css" />
		<link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet" />
	</head>

	<body>
		<!-- header -->
		<header id="site-header" class="w3l-header fixed-top">
			<!--/nav-->
			<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
				<div class="container">
					<h1><a class="navbar-brand" href="/"><span class="fa fa-play icon-log" aria-hidden="true"></span>
							TDTUCinema</a></h1>
					<!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
					<button
						class="navbar-toggler collapsed"
						type="button"
						data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<!-- <span class="navbar-toggler-icon"></span> -->
						<span class="fa icon-expand fa-bars"></span>
						<span class="fa icon-close fa-times"></span>
					</button>
					{{#if navHeader}}
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" href="/">Trang chủ</a>
								</li>
								<li class="nav-item dropdown dropdown-hover">
									<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
										Phim
									</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="/movie/now-showing">Phim đang chiếu</a>
										<a class="dropdown-item" href="/movie/upcoming">Phim sắp chiếu</a>
									</div>
								</li>
							</ul>

							<!--/search-right-->
							<!--/search-right-->
							<div class="search-right">
								<a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">Tìm kiếm<span class="fa fa-search ml-3" aria-hidden="true"></span></a>
								<!-- search popup -->
								<div id="search" class="pop-overlay">
									<div class="popup">
										<form action="/search" method="post" class="search-box">
											<input type="search" placeholder="Nhập từ khóa" name="search" required="required" autofocus="" />
											<button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
										</form>
										<div class="browse-items">
											<h3 class="hny-title two mt-md-5 mt-4">Tìm kiếm theo thể loại:</h3>
											<ul class="search-items">
												<li><a href="/search/Hành động">Hành động</a></li>
												<li><a href="/search/Chính Kịch">Chính Kịch</a></li>
												<li><a href="/search/Gia Đình">Gia Đình</a></li>
												<li><a href="/search/Kinh dị">Kinh dị</a></li>
												<li><a href="/search/Hài hước">Hài hước</a></li>
												<li><a href="/search/Lãng mạn">Lãng mạn</a></li>
												<li><a href="/search/Truyền hình">Truyền hình</a></li>
												<li><a href="/search/Hoạt hình">Hoạt hình</a></li>
												<li><a href="/search/Phiêu lưu">Phiêu lưu</a></li>
											</ul>
										</div>
									</div>
									<a class="close" href="#close">×</a>
								</div>
								<!-- /search popup -->
								<!--/search-right-->

							</div>
							{{!-- <div class="Login_SignUp" id="login"
						style="font-size: 2rem ; display: inline-block; position: relative;">
						<!-- <li class="nav-item"> -->

						{{#if user}}
						<p>{{user}}</p><a href="/logout">
							<p>Logout</p>
						</a>
						{{else}}
						<a class="nav-link" href="/login"><i class="fa fa-user-circle-o"></i></a>
						{{/if}}
						<!-- </li> -->
					</div> --}}
							<div class="Login_SignUp dropdown" id="login">
								{{#if user}}
									<a
										class="nav-link dropdown-toggle"
										href="#"
										id="navbarDropdown"
										role="button"
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
										style="font-weight: bold;"
									>
										{{user}}
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="/user/{{idUser}}">Thông tin người dùng</a>
										<a class="dropdown-item" href="/orderedTicket/{{idUser}}">Lịch sử đặt vé</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="/logout">Đăng xuất</a>
										<a class="dropdown-item" href="/admin">Admin Page</a>
									</div>
								{{else}}
									<a class="nav-link" href="/login"><i class="fa fa-user-circle-o"></i></a>
								{{/if}}
							</div>

						</div>
						<!-- toggle switch for light and dark theme -->
						<div class="mobile-position">
							<nav class="navigation">
								<div class="theme-switch-wrapper">
									<label class="theme-switch" for="checkbox">
										<input type="checkbox" id="checkbox" />
										<div class="mode-container">
											<i class="gg-sun"></i>
											<i class="gg-moon"></i>
										</div>
									</label>
								</div>
							</nav>
						</div>
					{{/if}}
				</div>
			</nav>
		</header>
		{{{body}}}
		{{#if footer}}
			<!-- footer-66 -->
			<footer class="w3l-footer">
				<section class="footer-inner-main">
					<div class="footer-hny-grids py-5">
						<div class="container py-lg-4">
							<div class="text-txt">
								<div class="right-side">
									<div class="row footer-about">
										<div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
											<a href="/movie"><img class="img-fluid" src="/images/banner1.jpg" alt="" /></a>
										</div>
										<div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
											<a href="/movie"><img class="img-fluid" src="/images/banner2.jpg" alt="" /></a>
										</div>
										<div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
											<a href="/movie"><img class="img-fluid" src="/images/banner3.jpg" alt="" /></a>
										</div>
										<div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
											<a href="/movie"><img class="img-fluid" src="/images/banner4.jpg" alt="" /></a>
										</div>
									</div>
									<div class="row footer-links">

										<div class="col-md-3 col-sm-6 sub-two-right mt-5">
											<h6>Phim</h6>
											<ul>
												<li><a href="#">Phim mới cập nhật</a></li>
												<li><a href="#">Phim hot gần đây</a></li>
												<li><a href="#">Phim sắp ra</a></li>
												<li><a href="#">Kinh dị</a></li>
												<li><a href="#">Hanh động</a></li>
												<li><a href="Contact_Us.html">Liên hệ với chúng tôi</a></li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-6 sub-two-right mt-5">
											<h6>Thông tin</h6>
											<ul>
												<li><a href="index.html">Home</a> </li>
												<li><a href="about.html">About</a> </li>
												<li><a href="#">Tv Series</a> </li>
												<li><a href="#">Blogs</a> </li>
												<li><a href="sign_in.html">Login</a></li>
												<li><a href="Contact_Us.html">Contact</a></li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-6 sub-two-right mt-5">
											<h6>Địa điểm</h6>
											<ul>
												<li><a href="/movie">Châu Á</a></li>
												<li><a href="/movie">Pháp</a></li>
												<li><a href="/movie">Đài Loan</a></li>
												<li><a href="/movie">Mỹ</a></li>
												<li><a href="/movie">Hàn Quốc</a></li>
												<li><a href="/movie">Anh Quốc</a></li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-6 sub-two-right mt-5">
											<h6>Hộp thư</h6>
											<form action="#" class="subscribe mb-3" method="post">
												<input type="email" name="email" placeholder="Your Email Address" required="" />
												<button><span class="fa fa-envelope-o"></span></button>
											</form>
											<p>Điền email của bạn và nhận thông tin mới nhất, các cập nhật và ưu đãi mới nhất của chúng tôi.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="below-section">
						<div class="container">
							<div class="copyright-footer">
								<div class="columns text-lg-left">
									<p>&copy; 2023 TDTU. All rights reserved</p>
								</div>

								<ul class="social text-lg-right">
									<li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
									</li>
									<li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
									</li>
									<li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									</li>
									<li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
									</li>

								</ul>
							</div>
						</div>
					</div>
					<!-- move top -->
					<button onclick="topFunction()" id="movetop" title="Go to top">
						<span class="fa fa-arrow-up" aria-hidden="true"></span>
					</button>
				</section>
			</footer>
		{{/if}}
	</body>

</html>

<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/javascripts/easyResponsiveTabs.js"></script>
<!--/theme-change-->
<script src="/javascripts/theme-change.js"></script>
<script src="/javascripts/owl.carousel.js"></script>
<script src="/javascripts/jquery.magnific-popup.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/layout.js"></script>